
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
@Html.Action("HeadPartial","Default")
<body id="page-top">
    <!-- Navigation-->
    @Html.Action("NavbarPartial", "Default")
    <!-- Masthead-->
    @Html.Action("MastheadPartial", "Default")
    <!-- Services-->
    @Html.Action("ServicePartial", "Default")
    <!-- Portfolio Grid-->
    @Html.Action("ProjectPartial", "Default")
    <!-- About-->
    @Html.Action("AboutPartial", "Default")
    <!-- Team-->
    @Html.Action("TeamPartial", "Default")
    <!-- Clients-->
    @Html.Action("ClientPartial", "Default")
    <!-- Contact-->
    @Html.Action("MessagePartial", "Default")
    <!-- GoogleMaps-->
    @Html.Action("GoogleMapsPartial", "Default")
    <!-- Footer-->
    @Html.Action("FooterPartial", "Default")
    <!-- Portfolio Modals-->
    @Html.Action("ModalPartial", "Default")
    <!-- Bootstrap core JS-->
    @Html.Action("ScriptPartial", "Default")


</body>
</html>
